@model GioHang

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.qty-btn {
		width: 25px;
		height: 25px;
		font-size: 14px;
		font-weight: 500;
		outline: none;
		cursor: pointer;
		background: #fff;
		color: #999999;
		-webkit-appearance: none;
	}

	.item-quantity {
		width: 35px;
		height: 25px;
		font-size: 14px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

</style>

<section class="ftco-section">
	<div class="container">
		<div class="heading-page-cart text-center pt-3 pb-4">
			<h4 class="m-0">Giỏ hàng của bạn</h4>
		</div>
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary" style="background: #17a2b8;">
							<tr class="text-center">
								<th>Hủy</th>
								<th>Hình ảnh</th>
								<th>Tên sản phẩm</th>
								<th>Giá</th>
								<th>Kích thước</th>
								<th>Số lượng</th>
								<th>Tổng</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model?.Lines)
							{
								<tr class="text-center">
									<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

									<td class="image-prod"><img src="@Url.Action("GetImage", "Home", new { id_sp = item.ChiTiet_SP.SanPham.Id})" style="height: 100px" /></td>
									<td class="product-name">
										<h3>
											@item.ChiTiet_SP.SanPham.Ten
										</h3>
									</td>

									<td class="price">@(item.ChiTiet_SP.Gia)đ</td>

									<td style="color: black;">
                                        @item.ChiTiet_SP.KichThuoc
									</td>

									<td class="total">
										<div class="line-item_quantity product-quantity qty-click d-inline-block">
											<button onclick="qtyminus(@item.ChiTiet_SP.Id,@item.ChiTiet_SP.Gia)" type="button" id="tang_@item.ChiTiet_SP.Id" class="qtyminus qty-btn border float-left">-</button>
											<input onchange="total(@item.ChiTiet_SP.Id, @item.ChiTiet_SP.Gia, this.value" type="text" size="4" name="updates[]" min="1" id="sl_@item.ChiTiet_SP.Id" value="@(item.SoLuong)" class="item-quantity float-left text-center border border-right-0 border-left-0">
											<button onclick="qtyplus(@item.ChiTiet_SP.Id,@item.ChiTiet_SP.Gia)" type="button" id="tang_@item.ChiTiet_SP.Id" class="qtyplus qty-btn border float-left">+</button>
										</div>
									</td>
									<td id="total_@item.ChiTiet_SP.Id"></td>
								</tr>
							}
					</table>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Coupon Code</h3>
					<p>Enter your coupon code if you have one</p>
					<form action="#" class="info">
						<div class="form-group">
							<label for="">Coupon code</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Estimate shipping and tax</h3>
					<p>Enter your destination to get a shipping estimate</p>
					<form action="#" class="info">
						<div class="form-group">
							<label for="">Country</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
						<div class="form-group">
							<label for="country">State/Province</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
						<div class="form-group">
							<label for="country">Zip/Postal Code</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						<span>$20.60</span>
					</p>
					<p class="d-flex">
						<span>Delivery</span>
						<span>$0.00</span>
					</p>
					<p class="d-flex">
						<span>Discount</span>
						<span>$3.00</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Total</span>
						<span>$17.60</span>
					</p>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
			</div>
		</div>
	</div>
</section>

<script>
	function qtyminus(id, price) {
		var quantityInput = document.getElementById('sl_' + id);
		var currentValue = parseInt(quantityInput.value);
		if (currentValue > 1) {
			quantityInput.value = currentValue - 1;
			total(id, price, quantityInput.value)
		}
	}

	function qtyplus(id, price) {
		var quantityInput = document.getElementById('sl_' + id);
		var currentValue = parseInt(quantityInput.value);
		quantityInput.value = currentValue + 1;
		total(id, price, quantityInput.value)
	}

	function total(id, price, quantity) {
		var totalElement = document.getElementById('total_'+id);
		
		if (totalElement) {
			var total = parseInt(quantity) * parseInt(price);
			totalElement.innerHTML = total;
		}
	}

	window.onload = function () {
		var gioHangData = @Html.Raw(Json.Serialize(Model));
		// if (gioHangData.lines.length > 0) {
		// 	for (var i = 0; i < gioHangData.lines.length; i++) {
		// 		var id = gioHangData.lines[i].chiTiet_SP.id;
		// 		var price = gioHangData.lines[i].chiTiet_SP.gia;
		// 		var quantity = gioHangData.lines[i].soLuong;
		// 		total(id, price, quantity);
		// 	}
		// } else {
		// 	console.log("Không có sản phẩm trong giỏ hàng");
		// }
	};
</script>