@model IEnumerable<DonHang>

@{
    ViewData["Title"] = "TTDH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .qty-btn {
        width: 25px;
        height: 25px;
        font-size: 14px;
        font-weight: 500;
        outline: none;
        cursor: pointer;
        background: #fff;
        color: #999999;
        -webkit-appearance: none;
    }

    .item-quantity {
        width: 35px;
        height: 25px;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #order, #send {
        background-color: #17a2b8;
        border: none;
        color: white;
    }

        #send:hover, #order:hover {
            background-color: #B84517;
        }

    .table tbody tr td{
        padding: 10px 10px;
    }
</style>

<div>
    <img style="width:100%;" src="http://www.perfectcompanion.com.vn/vnt_upload/weblink/3.Brid.jpg" alt="" />
</div>
<section class="ftco-section">
    <div class="container">
        <div class="heading-page-cart text-center pt-3 pb-4">
            <h4 class="m-0">Đơn hàng của bạn</h4>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary" style="background: #17a2b8;">
                            <tr class="text-center">
                                <th>ID</th>
                                <th>Tổng số lượng</th>
                                <th>Tổng giá</th>
                                <th>TT thanh toán</th>
                                <th>TT đơn hàng</th>
                                <th>Thanh toán</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.TrangThaiDonHang == "cho duyet")
                                {
                                    <tr>
                                        @{
                                            int tongGia = 0;
                                            int phiShip = 20000;
                                            int tongTien = 0;
                                            int tongSoLuong = 0;
                                        }
                                        @foreach (var dh_ct in item.DonHang_ChiTiets)
                                        {
                                            tongTien += dh_ct.SoLuong * dh_ct.ChiTiet_SP.Gia;
                                            tongGia = tongTien + phiShip;
                                            tongSoLuong += dh_ct.SoLuong;
                                        }
                                        <td>@item.Id</td>
                                        <td>
                                            @tongSoLuong
                                        </td>
                                        <td>
                                            @tongGia
                                        </td>
                                        <td>
                                            @item.TrangThaiThanhToan
                                        </td>
                                        <td>
                                            @item.TrangThaiDonHang
                                        </td>
                                        <td>
                                            @if(item.TrangThaiThanhToan == false)
                                            {
                                                <a class="btn btn-danger">Thanh toán</a>
                                            }
                                        </td>
                                        <td>

                                            <a data-bs-toggle="collapse" href="#@item.Id" role="button" aria-expanded="false"
                                               aria-controls="@item.Id">Chi tiết</a>
                                        </td>


                                    </tr>
                                    <tr class="collapse" id="@item.Id">

                                        <td colspan="8">
                                            <span class="text-start">Thời gian tạo đơn : @item.ThoiGianTao</span>
                                            <p><strong>Sản phẩm trong đơn hàng</strong></p>
                                            <table class="table table-sm table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">STT</th>
                                                        <th scope="col">Tên sản phẩm</th>
                                                        <th scope="col">Loại</th>
                                                        <th scope="col">Kích thước</th>
                                                        <th scope="col">Số lượng</th>
                                                        <th scope="col">Giá</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-group-divider">
                                                    @{


                                                        int stt = 0;
                                                    }
                                                    @foreach (var dh_ct in item.DonHang_ChiTiets)
                                                    {
                                                        stt += 1;

                                                        <tr>
                                                            <th scope="row">@stt</th>
                                                            <td>@dh_ct.ChiTiet_SP.SanPham.Ten</td>
                                                            <td>@dh_ct.ChiTiet_SP.SanPham.LoaiSP.Ten</td>
                                                            <td>@dh_ct.ChiTiet_SP.KichThuoc</td>
                                                            <td>@dh_ct.SoLuong</td>
                                                            <td>@dh_ct.ChiTiet_SP.Gia</td>
                                                        </tr>

                                                    }
                                                    <tr>
                                                        <th scope="row" colspan="4">
                                                            Tổng:
                                                        </th>
                                                        <th>
                                                            @tongSoLuong
                                                        </th>
                                                        <th>
                                                            @tongTien
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row">
                                                <div class="col-8">
                                                    @* //tên nguoi nhan hang *@
                                                    <div class="row">
                                                        <div class="col-6">
                                                            Tên người nhận hàng :
                                                        </div>
                                                        <div class="col-6">
                                                            <strong>
                                                                @item.ThongTin_NhanHang?.HoTen
                                                            </strong>
                                                        </div>
                                                    </div>
                                                    @* //so dien thoai *@
                                                    <div class="row">
                                                        <div class="col-6">
                                                            Số điện thoại :
                                                        </div>
                                                        <div class="col-6">
                                                            <strong>
                                                                @item.ThongTin_NhanHang?.SDT
                                                            </strong>

                                                        </div>
                                                    </div>
                                                    @* //dia chi *@
                                                    <div class="row">
                                                        <div class="col-6">
                                                            Địa chỉ :
                                                        </div>
                                                        <div class="col-6">
                                                            <strong>
                                                                @item.ThongTin_NhanHang?.DiaChi
                                                            </strong>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            Ghi chú :
                                                        </div>
                                                        <div class="col-6">
                                                            <strong>
                                                                @item.ThongTin_NhanHang?.GhiChu
                                                            </strong>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="row">
                                                        <div class="col-6 text-end">
                                                            phí ship :
                                                        </div>
                                                        <div class="col-6 text-end pe-4">
                                                            <strong>@phiShip</strong>
                                                        </div>
                                                        <div class="col-6 text-end">
                                                            Tổng tiền :
                                                        </div>
                                                        <div class="col-6 text-end pe-4">

                                                            <strong>@tongGia</strong>
                                                        </div>
                                                        <div class="col mt-3">
                                                            @if(item.TrangThaiDonHang == "cho duyet"){
                                                                <a href="#" class="btn btn-danger">Tiến hành thanh toán</a>
                                                            }
                                                               
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>