@model ThoBayMau_ASM.Models.ChiTiet_SP
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<div class="container" style="width:50%;">
    <h3>Sản phẩm : @ViewBag.tenSP</h3>
    <h2>Thêm chi tiết sản phẩm</h2>
    <form method="post" asp-action="Create" asp-route-SanPhamId="@ViewBag.SanPhamId">

        <div class="card-body">

            <div class="mb-3 mt-3">
                <label asp-for="Gia" class="form-label">Giá </label>
                <input asp-for="Gia" type="text" class="form-control" id="numberInput" maxlength="8">

                @if (ViewBag.ktgia != null)
                {
                    <span class="text-danger">@ViewBag.ktgia</span>
                }
                else
                {
                    <span asp-validation-for="Gia" class="text-danger"></span>
                }


            </div>

            <div class="mb-3 mt-3">
                <label asp-for="SoLuong" class="form-label">Số lượng</label>
                <input asp-for="SoLuong" type="text" class="form-control" id="numberInput" maxlength="4">
                @if (ViewBag.ktSoLuong != null)
                {
                    <span class="text-danger">@ViewBag.ktSoLuong</span>
                }
                else
                {
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                }

            </div>
            <div class="mb-3 mt-3">
                <label asp-for="KichThuoc" class="form-label">Kích thước</label>
                <input asp-for="KichThuoc" type="text" class="form-control" id="numberInput" maxlength="2">
                @if (ViewBag.ktKichThuoc != null)
                {
                    <span class="text-danger">@ViewBag.ktKichThuoc</span>
                }
                else
                {
                    <span asp-validation-for="KichThuoc" class="text-danger"></span>
                }
                
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 mt-3">
                    <label asp-for="NgaySanXuat" class="form-label">Ngày sản xuất</label>
                    <input asp-for="NgaySanXuat" type="date" class="form-control" id="datepicker">
                    @if (ViewBag.ktNSX != null)
                    {
                        <span class="text-danger">@ViewBag.ktNSX</span>
                    }
                    else
                    {
                        <span asp-validation-for="NgaySanXuat" class="text-danger"></span>
                    }

                </div>
                <div class="col-md-6 mb-3 mt-3">
                    <label asp-for="HanSuDung" class="form-label">Hạn sử dụng</label>
                    <input asp-for="HanSuDung" type="date" class="form-control">
                    @if (ViewBag.ktHSD != null)
                    {
                        <span class="text-danger">@ViewBag.ktHSD</span>
                    }
                    else
                    {
                        <span asp-validation-for="HanSuDung" class="text-danger"></span>
                    }

                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Thêm</button>
            <a asp-controller="ChiTietSP" asp-action="Index" class="btn btn-primary">Trở về</a>
        </div>
    </form>
    <div />
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-5:+5",
                showOn: "both"
            });
        });
    </script>
