@model IEnumerable<ThoBayMau_ASM.Models.ChiTiet_SP>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container mt-1">
                <div class="cancel-dndk d-flex flex-row-reverse">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Tab panes -->
                <div class="tab-content px-5 pb-3">
                    <div class="container tab-pane active">
                        <form name="frm_Delete" asp-action="Delete" method="POST">
                            <div class="mb-3">
                                <input id="txt_ID" class="visually-hidden" type="text" name="txt_ID" />
                            </div>
                            <div class="mb-3 text-center">
                                <h5>Bạn muốn xóa tài khoản này không?</h5>
                            </div>
                            <div class="d-flex justify-content-evenly text-center">
                                <button type="submit" class="btn btn-primary" style="width:100px;">
                                    Có
                                </button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" style="width:100px;">
                                    Không
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Quản lý chi tiết sản phẩm</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ChiTietSP" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i>Tạo mới</a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped">
        <thead>
            <th>ID</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Kích thước</th>
            <th>Ngày sản suất</th>
            <th>Hạn sử dụng</th>
            <th>Mã sản phẩm</th>
            <th>Sửa</th>
            <th>Xóa</th>
         </thead>
        <tbody>
            @if(Model != null){
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Gia</td>
                    <td>@item.SoLuong</td>
                    <td>@item.KichThuoc</td>
                    <td>@item.NgaySanXuat</td>
                    <td>@item.HanSuDung</td>
                    <td>@item.SanPhamId</td>
                    <td>
                        @if (item.TrangThai)
                        {
                            <div class="form-check d-flex align-items-center justify-content-center">
                                <input class="form-check-input" style="background-image:none; background-color:springgreen;filter:none" type="radio" checked>
                            </div>
                        }
                        else
                        {
                            <div class="form-check d-flex align-items-center justify-content-center">
                                <input class="form-check-input" style="background-image:none; background-color:red;filter:none;" type="radio" checked>
                            </div>
                        }
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id=@item.Id class="btn btn-primary" style=""><i class="bi bi-pencil-square"></i></a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-id="@item.Id" onclick="setId(this)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
