@model IEnumerable<SanPham>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .product {
        height: 370px;
    }

    .product-name {
        white-space: initial;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        height: 40px;
    }

    .out-of-stock {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.7
    }

        .out-of-stock h4 {
            color: white;
        }
</style>

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(/img/banner/slider_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(/img/banner/slider_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image: url(/img/banner/slider_3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Sản phẩm nổi bật</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                var sum = 0;
                foreach (var chiTiet in item.ChiTietSPs)
                {
                    sum += chiTiet.SoLuong;
                }
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <div class="group-product">
                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="img-prod">
                                <img class="img-fluid" src="@Url.Action("GetImage", "Home", new { id_sp = @item.Id})" alt="Colorlib Template">
                                <div class="overlay"></div>
                                @if(sum == 0)
                                {
                                    <div class="out-of-stock d-flex justify-content-center align-items-center"><h4>Hết hàng</h4></div>
                                }
                                @foreach (var TopID in ViewBag.SPTop5)
                                {
                                    if (TopID.Id == item.Id)
                                    {
                                        <p class="hot">HOT</p>
                                        break;
                                    }
                                    if (item.TrangThai == "Mới")
                                    {
                                        <p class="new">NEW</p>
                                        break;
                                    }
                                }
                            </a>
                        </div>

                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3 class="product-name"><a href="#">@item.Ten</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">@((item.ChiTietSPs.Min(ct => ct.Gia) + 50000).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</span><span class="price-sale">@(item.ChiTietSPs.Min(ct => ct.Gia).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    @if(sum == 0){
                                        <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                    }
                                    else
                                    {
                                        var chiTiet = item.ChiTietSPs.OrderBy(ct => ct.KichThuoc).ToList();
                                        int ctKT = 0;
                                        foreach (var ct in chiTiet)
                                        {
                                            if (ct.SoLuong > 0)
                                            {
                                                ctKT = ct.KichThuoc;
                                                break;
                                            }
                                        }
                                        <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        <a asp-action="AddToGioHang" asp-controller="GioHang" asp-route-sanPhamId="@item.Id" asp-route-kichThuoc="@ctKT" asp-route-returnUrl="@Url.Action("Index", "Home")" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-outline-info" asp-action="List_Type" asp-controller="Home" style=" font-size: 20px">Xem Thêm</i></a>
        </div>
    </div>
</section>

<div>
    <img style="width:100%;" src="http://www.perfectcompanion.com.vn/vnt_upload/weblink/2.cat-sp.jpg" alt="" />
</div>

<section class="ftco-section ftco-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="img/Brands/img_brand_1.jpg" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="img/Brands/img_brand_2.jpg" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="img/Brands/img_brand_3.jpg" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="img/Brands/img_brand_4.jpg" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner"><img src="img/Brands/img_brand_5.jpg" class="img-fluid" alt="Colorlib Template"></a>
            </div>
        </div>
    </div>
</section>


