@model IEnumerable<SanPham>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagingmodel = new ThoBayMau_ASM.Helpers.PagingModel()
            {
                currentpage = (int)(@ViewBag.CurrentPage),
                countpages = (int)(@ViewBag.CountPages),
                generateUrl = (int? p) => Url.Page("", new { p = p, Key = @ViewBag.Search, id = ViewBag.SPID })
            };
}

<style>
    .product {
        height: 370px;
    }

    .product-name {
        white-space: initial;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        height: 40px;
    }

    .out-of-stock {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.7
    }

        .out-of-stock h4 {
            color: white;
        }

    #active-product {
        background-color: #17A2B8;
    }

    .product-category li a {
        color: black;
    }

    .product-type:hover {
        color: #ff0136;
    }
</style>
<div>
    <img style="width:100%;" src="http://www.perfectcompanion.com.vn/vnt_upload/weblink/1.dog-sp.jpg" alt="" />
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a asp-action="List_Type" asp-route-id = "" class="@(ViewBag.SPID == null ? "active" : "") product-type" id="@(ViewBag.SPID == null ? "active-product" : "")">Tất cả</a></li>
                    @foreach (var item in ViewBag.LoaiSP)
                    {
                        <li><a asp-action="List_Type" asp-route-id="@item.Id" class="@(ViewBag.SPID == item.Id ? "active" : "") product-type" id="@(ViewBag.SPID == item.Id ? "active-product" : "")">@item.Ten</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    var sum = 0;
                    foreach (var chiTiet in item.ChiTietSPs)
                    {
                        sum += chiTiet.SoLuong;
                    }
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="img-prod">
                                <img class="img-fluid" src="@Url.Action("GetImage", "Home", new { id_sp = @item.Id})" alt="Colorlib Template">
                                <div class="overlay"></div>
                                @if (sum == 0)
                                {
                                    <div class="out-of-stock d-flex justify-content-center align-items-center"><h4>Hết hàng</h4></div>
                                }
                                @foreach (var TopID in ViewBag.SPTop5)
                                {
                                    if (TopID.Id == item.Id)
                                    {
                                        <p class="hot">HOT</p>
                                        break;
                                    }
                                    if (item.TrangThai == "Mới")
                                    {
                                        <p class="new">NEW</p>
                                        break;
                                    }
                                }
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3 class="product-name"><a href="#">@item.Ten</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span class="mr-2 price-dc">@((item.ChiTietSPs.Min(ct => ct.Gia) + 50000).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</span><span class="price-sale">@(item.ChiTietSPs.Min(ct => ct.Gia).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        @if (sum == 0)
                                        {
                                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span><i class="ion-ios-menu"></i></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span><i class="ion-ios-menu"></i></span>
                                            </a>
                                            <a asp-action="AddToGioHang" asp-controller="GioHang" asp-route-sanPhamId="@item.Id" asp-route-kichThuoc="@item.ChiTietSPs.Min(ct => ct.KichThuoc)" asp-route-returnUrl="@Url.Action("Index", "Home")" action="" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row mt-5 justify-content-center">
            <partial name="_Paging" model="pagingmodel" />
        </div>
    </div>
</section>