@model IEnumerable<SanPham>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagingmodel = new ThoBayMau_ASM.Helpers.PagingModel()
            {
                currentpage = (int)(@ViewBag.CurrentPage),
                countpages = (int)(@ViewBag.CountPages),
                generateUrl = (int? p) => Url.Page("", new { p = p, Key = @ViewBag.key })
            };
}

<style>
    .carousel-control-prev, .carousel-control-next {
        background-color: transparent;
        color: black;
        border: none;
        padding: 0;
        font-size: 20px;
    }

        .carousel-control-prev:hover, .carousel-control-next:hover {
            color: black;
        }

    #small-img {
        position: initial
    }

        #small-img a {
            border: 0.5px solid gray;
            padding: 0;
        }

            #small-img a:hover {
                border: 1px solid red;
            }

    .form-check-label {
        color: black;
    }

    .ftco-section {
        padding-bottom: 0;
    }

    .list-group-item {
        border: 0px;
    }

    #btn-add-cart {
        background-color: #17a2b8;
        border: none;
    }

        #btn-add-cart:hover {
            background-color: #B84517;
        }

    #btn-add-cart {
        background-color: #17a2b8;
        border: none;
        color: white;
    }

        #btn-add-cart:hover {
            background-color: #B84517;
        }

    .product {
        height: 370px;
    }

    .product-name {
        white-space: initial;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        height: 40px;
    }

    .out-of-stock {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.7
    }

        .out-of-stock h4 {
            color: white;
        }
</style>
<section class="ftco-section">
    @if (Model != null && Model.Count() > 0)
    {
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h3 class="mb-4">Kết quả tìm kiếm cho từ khóa: @ViewBag.key</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    var sum = 0;
                    foreach (var chiTiet in item.ChiTietSPs)
                    {
                        sum += chiTiet.SoLuong;
                    }
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="img-prod">
                                <img class="img-fluid" src="@Url.Action("GetImage", "Home", new { id_sp = @item.Id})" alt="Colorlib Template">
                                <div class="overlay"></div>
                                @if (sum == 0)
                                {
                                    <div class="out-of-stock d-flex justify-content-center align-items-center"><h4>Hết hàng</h4></div>
                                }
                                @foreach (var TopID in ViewBag.SPTop5)
                                {
                                    if (TopID.Id == item.Id)
                                    {
                                        <p class="hot">HOT</p>
                                        break;
                                    }
                                    if (item.TrangThai == "Mới")
                                    {
                                        <p class="new">NEW</p>
                                        break;
                                    }
                                }
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3 class="product-name"><a href="#">@item.Ten</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price">@* <span class="mr-2 price-dc">@((item.ChiTietSPs.Min(ct => ct.Gia) + 50000).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</span> *@<span class="price-sale">@(item.ChiTietSPs.Min(ct => ct.Gia).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        @if (sum == 0)
                                        {
                                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span><i class="ion-ios-menu"></i></span>
                                            </a>
                                        }
                                        else
                                        {
                                            var chiTiet = item.ChiTietSPs.OrderBy(ct => ct.KichThuoc).ToList();
                                            int ctKT = 0;
                                            foreach (var ct in chiTiet)
                                            {
                                                if (ct.SoLuong > 0)
                                                {
                                                    ctKT = ct.KichThuoc;
                                                    break;
                                                }
                                            }
                                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span><i class="ion-ios-menu"></i></span>
                                            </a>
                                            <a asp-action="AddToGioHang" asp-controller="GioHang" asp-route-sanPhamId="@item.Id" asp-route-kichThuoc="@ctKT" asp-route-returnUrl="@Url.Action("Index", "Home")" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row mt-5 justify-content-center">
                <partial name="_Paging" model="pagingmodel" />
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h3 class="mb-4">Không có kết quả nào cho từ khóa: @ViewBag.key</h3>
                </div>
            </div>
        </div>
    }
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Sản Phẩm Khác</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (ViewData["RelateProduct"] != null)
            {
                var relateProducts = ViewData["RelateProduct"] as List<ThoBayMau_ASM.Models.SanPham>;
                foreach (var item in relateProducts)
                {
                    var sum = 0;
                    foreach (var chiTiet in item.ChiTietSPs)
                    {
                        sum += chiTiet.SoLuong;
                    }
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="img-prod">
                                <img class="img-fluid" src="@Url.Action("GetImage", "Home", new { id_sp = @item.Id})" alt="Colorlib Template">
                                <div class="overlay"></div>
                                @if (sum == 0)
                                {
                                    <div class="out-of-stock d-flex justify-content-center align-items-center"><h4>Hết hàng</h4></div>
                                }
                                @foreach (var TopID in ViewBag.SPTop5)
                                {
                                    if (TopID.Id == item.Id)
                                    {
                                        <p class="hot">HOT</p>
                                        break;
                                    }
                                    if (item.TrangThai == "Mới")
                                    {
                                        <p class="new">NEW</p>
                                        break;
                                    }
                                }
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3 class="product-name"><a href="#">@item.Ten</a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price d-block">@* <span class="mr-2 price-dc">@((item.ChiTietSPs.Min(ct => ct.Gia) + 50000).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</span> *@<span class="price-sale">@(item.ChiTietSPs.Min(ct => ct.Gia).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ</span></p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        @if (sum == 0)
                                        {
                                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span><i class="ion-ios-menu"></i></span>
                                            </a>
                                        }
                                        else
                                        {
                                            var chiTiet = item.ChiTietSPs.OrderBy(ct => ct.KichThuoc).ToList();
                                            int ctKT = 0;
                                            foreach (var ct in chiTiet)
                                            {
                                                if (ct.SoLuong > 0)
                                                {
                                                    ctKT = ct.KichThuoc;
                                                    break;
                                                }
                                            }
                                            <a asp-action="product_detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span><i class="ion-ios-menu"></i></span>
                                            </a>
                                            <a asp-action="AddToGioHang" asp-controller="GioHang" asp-route-sanPhamId="@item.Id" asp-route-kichThuoc="@ctKT" asp-route-returnUrl="@Url.Action("Index", "Home")" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>