@model ThoBayMau_ASM.Models.TaiKhoan
@{
    ViewBag.Title = "Signup";
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="~/cssdndk/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div style="background-image: url('https://i0.wp.com/thatnhucuocsong.com.vn/wp-content/uploads/2022/02/background-banner-blue-do-hoa.jpg?ssl=1')" class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body" style="padding-top: 0;">
                                <div class="text-nowrap logo-img text-center d-block w-100">
                                    <img src="~/img/logo/pethouses_logo_1.png" width="180" alt="" />
                                </div>
                                @if (TempData["errorMessage"] != null)
                                {
                                    <div class="alert alert-danger mt-3">
                                        @TempData["errorMessage"]
                                    </div>
                                }
                                <form method="post" action="~/DangNhapDangKi/Signup">
                                    @Html.AntiForgeryToken()
                                    <div class="mb-3">
                                        <label for="TenTK" class="form-label">Tên tài khoản</label>
                                        <input type="text" class="form-control" id="TenTK" name="TenTK" aria-describedby="textHelp" maxlength="50">
                                        @Html.ValidationMessageFor(model => model.TenTK, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="MatKhau" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="MatKhau" name="MatKhau" maxlength="15">
                                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp">
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="SDT" class="form-label">SDT</label>
                                        <input type="text" class="form-control" id="SDT" name="SDT" maxlength="11">
                                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="DiaChi" class="form-label">Địa chỉ</label>
                                        <input type="text" class="form-control" id="DiaChi" name="DiaChi">
                                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng ký</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Đã có tài khoản?</p>
                                        <a class="text-primary fw-bold ms-2" href="/DangNhapDangKi/Login">Đăng nhập</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>