@model IEnumerable<ThoBayMau_ASM.Models.TaiKhoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Quản lý tài khoản</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i>Tạo mới</a>
        </div>
    </div>
    <br /><br />
    <style>
        th{
            min-width:130px;
            color:black;
        }
    </style>
    <div class="table-responsive">
        <table class="table align-middle table-condensed table-hover text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TenTK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MatKhau)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiaChi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayDangKy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoaiTK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TrangThai)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.TenTK
                        </td>
                        <td>
                            @item.MatKhau
                        </td>
                        <td>
                            @item.SDT
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.DiaChi
                        </td>
                        <td>
                            @item.NgayDangKy.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @if (item.LoaiTK)
                            {
                                <text>Admin</text>
                            }
                            else
                            {
                                <text>User</text>
                            }
                        </td>
                        <td>
                            @if (item.TrangThai)
                            {
                                <div class="form-check d-flex align-items-center justify-content-center">
                                    <input class="form-check-input" style="background-image:none; background-color:#2ECC71;filter:none" type="radio" checked>
                                </div>
                            }
                            else
                            {
                                <div class="form-check d-flex align-items-center justify-content-center">
                                    <input class="form-check-input" style="background-image:none; background-color:#E74C3C;filter:none;" type="radio" checked>
                                </div>
                            }
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>