@model IEnumerable<ThoBayMau_ASM.Models.DonHang>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var pagingmodel = new ThoBayMau_ASM.Helpers.PagingModel()
            {
                currentpage = (int)(@ViewBag.CurrentPage),
                countpages = (int)(@ViewBag.CountPages),
                generateUrl = (int? p) => Url.Page("", new { p = p, Key = @ViewBag.Search, TrangThai = @ViewBag.TrangThai })
            };
}

<style>
    .btn-red {
        border: solid 1px red;
        color: red;
    }

        .btn-red:hover {
            background-color: red;
            color: white;
        }

    .btn-primaty {
        border: solid 1px #5D87FF;
        color: #5D87FF;
    }

        .btn-primaty:hover {
            background-color: #5D87FF;
            color: white;
        }
</style>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container mt-1">
                <div class="cancel-dndk d-flex flex-row-reverse">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Tab panes -->
                <div class="tab-content px-5 pb-3">
                    <div class="container tab-pane active">
                        <form name="frm_Delete" asp-action="HuyDon" method="POST">
                            <div class="mb-3">
                                <input id="txt_ID" class="visually-hidden" type="text" name="txt_ID" />
                            </div>
                            <div class="mb-3 text-center">
                                <h5>Bạn muốn xóa đơn hàng này không?</h5>
                            </div>
                            <div class="d-flex justify-content-evenly text-center">
                                <button type="submit" class="btn btn-primary" style="width:100px;">
                                    Có
                                </button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" style="width:100px;">
                                    Không
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/DonHang/DonHang.css">

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Đơn hàng</h2>
        </div>
    </div>
    <br /><br />
    <!-- Thanh trang thai -->
    @{
        var cd = "cho duyet";
        var dg = "dang giao";
        var dag = "da giao";
        var dhuy = "da huy";
    }
    <div class="d-flex flex-row thanh-trang-thai" style="width: 600px">

        <a class="btn @(ViewBag.TrangThai == "cho duyet" || ViewBag.TrangThai == null ? "active-trangThai" : "")" asp-action="Index" asp-route-trangThai="@cd">
            Chờ duyệt
            <span class="badge text-bg-warning">@(((IEnumerable<ThoBayMau_ASM.Models.DonHang>)ViewBag.dh).Where(x => x.TrangThaiDonHang == "cho duyet").Count())</span>
        </a>

        <a class="btn @(ViewBag.TrangThai == "dang giao" ? "active-trangThai" : "")" asp-action="Index" asp-route-trangThai="@dg">Đang giao

            <span class="badge text-bg-warning">@(((IEnumerable<ThoBayMau_ASM.Models.DonHang>)ViewBag.dh).Where(x => x.TrangThaiDonHang == "dang giao").Count())</span>
        </a>


        <a class="btn @(ViewBag.TrangThai == "da giao" ? "active-trangThai" : "")" asp-action="Index" asp-route-trangThai="@dag">Đã giao</a>


        <a class="btn @(ViewBag.TrangThai == "da huy" ? "active-trangThai" : "")" asp-action="Index" asp-route-trangThai="@dhuy">Đã huỷ</a>


    </div>
    <!-- Table -->
    <table class="table align-middle table-condensed table-hover text-center table-bordered">
        <thead class="table-light">
        <th>ID</th>
        <th>Khách hàng</th>
        <th>Tổng số lượng</th>
        <th>Tổng tiền</th>
            @if (ViewBag.TrangThai == "da huy")
            {
            <th>Thời gian huỷ đơn</th>
            } else{
            <th>Trang thái thanh toán</th>
            @if (ViewBag.TrangThai == "cho duyet" || ViewBag.TrangThai == "dang giao")
            {
                <th>Thao tác</th>
            }
        }
        <th>Chi tiết</th>
        </thead>
        <tbody class="align-middle">
            @if (Model!= null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        @{
                            int tongGia = 0;
                            int phiShip = 20000;
                            int tongTien = 0;
                            int tongSoLuong = 0;
                        }
                        @foreach (var dh_ct in item.DonHang_ChiTiets)
                        {
                            tongTien += dh_ct.SoLuong * dh_ct.ChiTiet_SP.Gia;
                            tongGia = tongTien + phiShip;
                            tongSoLuong += dh_ct.SoLuong;
                        }
                        <td>@item.Id</td>
                        <td>
                            @item.TaiKhoan.TenTK
                        </td>
                        <td>
                            @tongSoLuong
                        </td>
                        <td>
                            @tongGia
                        </td>
                        <td>
                            @if (ViewBag.TrangThai == "da huy")
                            {
                                @item.ThoiGianHuy
                            } else
                            {
                                @if (item.TrangThaiThanhToan == true)
                                {
                                    <span style="color: green">Đã thanh toán</span>
                                }
                                else
                                {
                                    <span style="color: red">Chờ thanh toán</span>
                                }
                            }
                        </td>
                        @if (item.TrangThaiDonHang == "cho duyet" || item.TrangThaiDonHang == "dang giao")
                        {
                            <td>
                                @if (item.TrangThaiThanhToan == true)
                                {
                                    <a class="btn btn-primaty" asp-action="DuyetDon" asp-controller="DonHang" asp-route-id="@item.Id" asp-route-returnUrl="@Url.Action("Index", "DonHang", new {trangThai = @ViewBag.TrangThai})">
                                        <i class="fa-solid fa-check"></i>
                                    </a>
                                } else
                                {
                                    
                                    <a class="btn btn-red" asp-action="HuyDon" asp-controller="DonHang" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-Id="@item.Id" onclick="setId(this)">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                }
                            </td>
                        }
                        <td>

                            <a data-bs-toggle="collapse" href="#@item.Id" role="button" aria-expanded="false"
                               aria-controls="@item.Id">Chi tiết</a>
                        </td>


                    </tr>
                    <tr class="collapse" id="@item.Id">

                        <td colspan="8">
                            <span class="text-start">Thời gian tạo đơn : @item.ThoiGianTao</span>
                            @if(ViewBag.TrangThai == "dang giao" || ViewBag.TrangThai == "da giao")
                            {
                                <span class="text-start" style="margin-left: 20px">Thời gian duyệt đơn : @item.ThoiGianHuy</span>
                            }
                            <p><strong>Sản phẩm trong đơn hàng</strong></p>
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Loại</th>
                                        <th scope="col">Kích thước(kg)</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Giá</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    @{


                                        int stt = 0;
                                    }
                                    @foreach (var dh_ct in item.DonHang_ChiTiets)
                                    {
                                        stt += 1;

                                        <tr>
                                            <th scope="row">@stt</th>
                                            <td>@dh_ct.ChiTiet_SP.SanPham.Ten</td>
                                            <td>@dh_ct.ChiTiet_SP.SanPham.LoaiSP.Ten</td>
                                            <td>@dh_ct.ChiTiet_SP.KichThuoc</td>
                                            <td>@dh_ct.SoLuong</td>
                                            <td>@dh_ct.ChiTiet_SP.Gia</td>
                                        </tr>

                                    }
                                    <tr>
                                        <th scope="row" colspan="4">
                                            Tổng:
                                        </th>
                                        <th>
                                            @tongSoLuong
                                        </th>
                                        <th>
                                            @tongTien
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-8">
                                    @* //tên nguoi nhan hang *@
                                    <div class="row">
                                        <div class="col-6">
                                            Tên người nhận hàng :
                                        </div>
                                        <div class="col-6">
                                            <strong>
                                                @item.ThongTin_NhanHang?.HoTen
                                            </strong>
                                        </div>
                                    </div>
                                    @* //so dien thoai *@
                                    <div class="row">
                                        <div class="col-6">
                                            Số điện thoại :
                                        </div>
                                        <div class="col-6">
                                            <strong>
                                                @item.ThongTin_NhanHang?.SDT
                                            </strong>

                                        </div>
                                    </div>
                                    @* //dia chi *@
                                    <div class="row">
                                        <div class="col-6">
                                            Địa chỉ :
                                        </div>
                                        <div class="col-6">
                                            <strong>
                                                @item.ThongTin_NhanHang?.DiaChi
                                            </strong>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Ghi chú :
                                        </div>
                                        <div class="col-6">
                                            <strong>
                                                @item.ThongTin_NhanHang?.GhiChu
                                            </strong>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-6 text-end">
                                            phí ship :
                                        </div>
                                        <div class="col-6 text-end pe-4">
                                            <strong>@phiShip</strong>
                                        </div>
                                        <div class="col-6 text-end">
                                            Tổng tiền :
                                        </div>
                                        <div class="col-6 text-end pe-4">

                                            <strong>@tongGia</strong>
                                        </div>
                                        @if (item.TrangThaiDonHang == "cho duyet" || item.TrangThaiDonHang == "dang giao")
                                        {
                                            <div class="col mt-3">
                                                @if(item.TrangThaiThanhToan == true)
                                                {
                                                    <a asp-action="DuyetDon" asp-controller="DonHang" asp-route-id="@item.Id" asp-route-returnUrl="@Url.Action("Index", "DonHang", new {trangThai = @ViewBag.TrangThai})"
                                                        class="btn btn-primary">Duyệt đơn
                                                    </a>
                                                } else
                                                {
                                                    <a class="btn btn-red" asp-action="HuyDon" asp-controller="DonHang" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-Id="@item.Id" onclick="setId(this)">
                                                        Hủy đơn
                                                    </a>
                                                }
                                            </div>
                                        }
                                        
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>


                }
            }
        </tbody>
    </table>
</div>
<partial name="_Paging" model="pagingmodel" />